<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>

  {{>$Partials/heading.hbs }}

  {{$Components 'hello'}}

  </body>
</html>